<div class="Kanban_card">
  <div class="Kanban_card_top">
    <h4>ID:HU220001</h4>
    <span> 31-01-2022 </span>
  </div>
  <div class="Kanban_card_center">
    <h3>Lorem Ipsum</h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </div>
  <div class="Kanban_card_bottom">
    <div class="Kanban_card_bottom_left">
      <img src="/assets/kanban.png" alt="Some user image owner of kanban card">
      <h6>Ravi Jain</h6>
    </div>
    <div class="Kanban_card_bottom_right">
      <span>Priority</span>
      <div class="priority">
        HIGH
      </div>
    </div>
  </div>
</div>
