.Kanban {
  height: 100%;
  padding: 20px 40px;
  background: #f7f8fa;
  display: flex;
}
.Kanban_column{
  margin-right: 24px;
}
.Kanban_column h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  color: #757575;
  margin-bottom: 15px;
}
