<div id="kanban-board" class="Kanban">
  <div class="Kanban_column">
    <h2>TO DO</h2>
    <div class="Kanban_column_cards">
      <app-kanban-card></app-kanban-card>
      <app-kanban-card></app-kanban-card>
    </div>
  </div>
  <div class="Kanban_column">
    <h2>DEVELOPMENT</h2>
    <div class="Kanban_column_cards" *ngFor="let each of data">
<!-- Pass the each.projectId to app-kanban-card -->
      <app-kanban-card ></app-kanban-card>
    </div>
  </div>
  <div class="Kanban_column">
    <h2>TESTING</h2>
    <div class="Kanban_column_cards">
      <app-kanban-card></app-kanban-card>
      <app-kanban-card></app-kanban-card>
      <app-kanban-card></app-kanban-card>
    </div>
  </div>
  <div class="Kanban_column">
    <h2>COMPLETED</h2>
    <div class="Kanban_column_cards">
      <app-kanban-card></app-kanban-card>
      <app-kanban-card></app-kanban-card>
    </div>
  </div>
</div>
