<div class="issue">
  <app-navigation></app-navigation>
  <div class="issue-top">
    <h1>
      Create User Stories/ Tasks/ Bugs
    </h1>
  </div>
  <div class="issue-body">
    <div class="row-full">
      <fieldset>
        <label>Summary</label>
        <input type="text" placeholder="Add Summary"/>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <label>Type</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
      <fieldset>
        <label>Project</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
    </div>
    <div class="row-full">
      <fieldset>
        <label>Description</label>
        <textarea placeholder="Write description" id="issue-description"></textarea>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <label>Priority</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
      <fieldset>
        <label>Asignee</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <label>Tags</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
      <fieldset>
        <label>Sprint</label>
        <select>
          <option value="select">Select</option>
        </select>
      </fieldset>
    </div>
    <div class="row">
      <fieldset>
        <label>Story Points</label>
        <input value="storyPoint" type="text" placeholder="0,1,2..."/>
      </fieldset>
    </div>
  </div>
  <div class="Project_submit">
    <button type="button" class="border_button">RESET</button>
    <button type="button" class="filled_button">CREATE</button>
  </div>
</div>
