<div class="Container">
    <div id="left-nav-panel" class="Container_left">
        <div class ="Container_left_image">
            <img src="/assets/Icon.png" alt="company logo image"/>
            <div class = "Container_left_links" >
                <div class="Container_left_links_each" routerLinkActive="active">
                    <a routerLink="/project-board">PROJECT BOARD</a>
                </div>
                <div class="Container_left_links_each" routerLinkActive="active">
                    <a routerLink="/create-issue">CREATE ISSUE</a>
                </div>
                <div class="Container_left_links_each" routerLinkActive="active">
                    <a routerLink="/create-project">CREATE PROJECT</a>
                </div>
            </div>
        </div>
    </div>
    <div id="right-nav-body" class="Container_right">

        <router-outlet></router-outlet>

    </div>
</div>