<div class="Container">
  <div class="Container_top">
    <div class="Container_top_left"></div>
    <div class="Container_top_right">
      <h2>Anjali Gupta</h2>
      <div class="Container_top_profile">
        <img src="/assets/profile.png" alt="Profile picture of the user" />
      </div>
    </div>
  </div>
  <div class="Container_head">
    <h1>Project Details</h1>
    <app-button></app-button>
  </div>
  <div class="Container_form">
    <form>
      <div class="Container_form_top">

        <fieldset>
          <label>Project Name</label>
          <select>
            <option value="initial value">hu 22.0 Angular Track</option>
          </select>
        </fieldset>

        <fieldset>
          <label>Project Owner</label>
          <select>
            <option value="initial value">pushpa raj</option>

          </select>
        </fieldset>
      </div>
      <div class="Container_form_info">
        <div class="Container_form_info_each">
          <span>
            Start Date: 31-01-2022
          </span>
        </div>

        <div class="Container_form_info_each" style="border:0px">
          <span>
            End Date: 31-01-2022
          </span>
        </div>
      </div>
      <div class="Container_form_bottom">
        <fieldset>
          <select>
            <option value="select">Select</option>
          </select>
          <label>Filter Asignee</label>
        </fieldset>

        <fieldset>
          <select>
            <option value="select">Select</option>
          </select>
          <label>Filter Priority</label>
        </fieldset>
      </div>
    </form>
  </div>
</div>
