<div class="Container">
  <div class="Container_top">
    <div class="Container_top_left"></div>
    <div class="Container_top_right">
      <h2>Anjali Gupta</h2>
      <div>
        <img src="/assets/anjali.png" alt="Profile picture of the user" />
      </div>
    </div>
  </div>
  <div class="Container_head">
    <h1>Project Details</h1>
  </div>
  <div class="Container_form">
    <form>
      <div class="Container_form_top">

        <fieldset>
          <label>Project Name</label>
          <select>

          </select>
        </fieldset>

        <fieldset>
          <label>Project Owner</label>
          <select>

          </select>
        </fieldset>
      </div>
      <div class="Container_form_info">
        <div class="Container_form_info_each">
          <span>
            Start Date: 31-01-2022
          </span>
        </div>

        <div class="Container_form_info_each">
          <span>
            Start Date: 31-01-2022
          </span>
        </div>
      </div>
      <div class="Container_form_bottom">
        <fieldset>
          <select>

          </select>
          <label>Filter Asignee</label>
        </fieldset>

        <fieldset>
          <select>

          </select>
          <label>Filter Priority</label>
        </fieldset>
      </div>
    </form>
  </div>
</div>
