<div class="Project">
  <app-navigation></app-navigation>
  <div class="Project_body">
    <h1>Create Project</h1>
  </div>
  <div class="Project_info">
    <form>
      <div class="row">
        <fieldset>
          <label>Project Name</label>
          <input type="text" placeholder="Project Name"/>
        </fieldset>
        <fieldset>
          <label>Owner</label>
          <select>
            <option value="select">Select</option>
          </select>
        </fieldset>
      </div>
      <div class="row">
        <fieldset>
          <label>Project Start Date</label>
          <input type="date" placeholder="MM/DD/YYYY"/>
        </fieldset>
        <fieldset>
          <label>Project End Date</label>
          <input type="date" placeholder="MM/DD/YYYY"/>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="Project_submit">
    <button type="button" class="border_button">RESET</button>
    <button type="button" class="filled_button">CREATE</button>
  </div>
</div>
